{{#> layout title='You got an offer'}}
  <h1>Thông báo đỗ phỏng vấn</h1>
  <p>Bạn đã đỗ phỏng vấn của <strong>{{partnerName}}</strong> cho kỳ thực tập đợt {{term}} năm {{year}}.</p>
  <p>Để hoàn thành chuyên đề thực tập, bạn cần chọn công ty để thực tập cho kỳ này.</p>
  <div class="btn btn-primary align-center"><a href='{{clientHost}}/student/internship'>Chọn công ty để thực tập</a></div>
{{/layout}}
