{{#> layout title='Partner rejected'}}
  <h1>Công ty bạn đăng ký đã bị khoa từ chối</h1>
  <p><strong>{{partnerName}}</strong> đã bị khoa từ chối. Bạn không thể chọn công ty này để thực tập.</p>
  <div class="btn btn-primary align-center"><a href='{{clientHost}}/student/home'>Đăng ký công ty khác cho kỳ thực tập</a></div>
{{/layout}}
