{{#> layout title='You got rejected'}}
  <h1>Thông báo kết quả phỏng vấn</h1>
  <p>Bạn chưa đỗ phỏng vấn của <strong>{{partnerName}}</strong> cho kỳ thực tập đợt {{term}} năm {{year}}.</p>
  <div class="btn btn-primary align-center"><a href='{{clientHost}}/student/home'>Đăng ký công ty khác cho kỳ thực tập</a></div>
{{/layout}}
