{{#> layout title='Partner accepted'}}
  <h1>Công ty bạn đăng ký đã được khoa chấp nhận</h1>
  <p><strong>{{partnerName}}</strong> đã được khoa xét duyệt. Bạn có thể chọn công ty này để thực tập cho kỳ.</p>
  <div class="btn btn-primary align-center"><a href='{{clientHost}}/student/internship'>Chọn công ty để thực tập</a></div>
{{/layout}}
