{{#> layout title='Term sign up confirmation'}}
  <h1>Điểm chuyên đề thực tập đợt {{term}} năm {{year}}</h1>
  <p>Điểm cho kỳ thực tập đợt {{term}} năm {{year}} của bạn là: {{score}}.</p>
{{/layout}}
