{{#> layout title='You got assigned a supervisor'}}
  <h1>Thông tin giảng viên hướng dẫn</h1>
  <p>Thông tin giảng viên hướng dẫn cho kỳ thực tập đợt {{term}} năm {{year}} của bạn là:</p>
  <p>Họ và tên: {{fullName}}</p>
  <p>Số điện thoại: {{phoneNumber}}</p>
  <p>Email VNU: {{orgEmail}}</p>
  <p>Email cá nhân: {{personalEmail}}</p>
  <p>Bạn hãy liên lạc với giảng viên của mình trong thời gian sớm nhất để được hướng dẫn về quy trình thực tập.</p>
{{/layout}}
