{{#> layout title='Term sign up confirmation'}}
  <h1>Đăng ký kỳ thực tập thành công</h1>
  <p>Bạn đã đăng ký kỳ thực tập đợt {{term}} năm {{year}} thành công. Xem hướng dẫn thực tập tại <a href='http://example.com'>đây</a>.</p>
{{/layout}}
