{{#> layout title='Password changed confirmation'}}
  <p>Mật khẩu của bạn đã được thay đổi thành công.</p>
  <p>Nếu bạn không phải người thực hiện hành động này, hãy liên hệ với quản trị viên để đặt lại mật khẩu ngay lập tức.</p>
{{/layout}}
