{{#> layout title='Welcome'}}
  <h1>Đặt lại mật khẩu</h1>
  <p>Bạn đã yêu cầu đặt lại mật khẩu. Hãy truy cập link dưới đây để đặt lại mật khẩu của bạn.</p>
  <div class="btn btn-primary align-center"><a href='{{clientHost}}/reset-password/complete?requestId={{requestId}}&resetToken={{resetToken}}'>Đặt lại mật khẩu</a></div>
  <p>Nếu bạn không yêu cầu đặt lại mật khẩu, bạn có thể bỏ qua email này.</p>
{{/layout}}
