{{#> layout title='Welcome'}}
  <p>Xin chào <strong>{{fullName}},</strong>
  <p>Chào mừng bạn đến với hệ thống UETWork của trường Đại học Công Nghệ!</p>
  <p>Mật khẩu của bạn là: <code>{{password}}</code>. Hãy dùng mật khẩu này để đăng nhập.</p>
{{/layout}}
