{{#> layout title='Welcome'}}
  <p>Xin chào <strong>{{fullName}},</strong>
  <p>Chào mừng bạn đến với hệ thống UETWork của trường Đại học Công Nghệ!</p>
  {{!-- TODO: replace url --}}
  <p>Bạn có thể xem hướng dẫn hoàn thành học phần thực tập ở <a href='http://example.com'>đây</a> nhé.</p>
{{/layout}}
